* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #585858;
}
.App{
      /* transform:scale(2); */
}
li {
    list-style-type: none;
    display: block;
}

#root {
    margin: 0 auto;
    background-color: aqua;
    /* transform:scale(1.5); */
}

#root * {
    user-select: none;

}


.title,
.control {
    text-align: center;
}

.rows {
    display: flex;
    flex-direction: column;
}

.columns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.columns>li {
    width: 36px;
    height: 36px;
    background-color: aqua;
    line-height: 32px;
    text-align: center;
}


.columns>li {
    position: relative;
}

.columns>li {
    position: relative;
}

.columns>li::before {
    top: 1px;
    left: 1px;
    z-index: 9;
    opacity: 1.8;
    content: "";
    background-color: pink;
    width: 34px;
    height: 34px;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 0 3px pink;
}

.columns>.marked::before {
    position: absolute;
    height: 34px;
    width: 34px;
    top: 1px;
    left: 1px;
    z-index: 10;
    content: "";
    background: url(./img/flag.svg) red no-repeat center;
    box-shadow: 0 0 3px red;
    background-size: 70%;
}

.columns>.safe::before {
    display: none;
}

.columns>.boom::before {
    background: url(./img/bomb-red.png) pink no-repeat center;
    background-size: 80%;
}

.columns>.safe::before,

.columns>li.danger::before {
    display: none;
}


/*
.columns>.boom {
    display: block;
    background: pink;
} */

.columns>.danger {
    color: red;
}

/* marked */
/* .columns>.danger::before {
    display: none;
} */